* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.column {
  float: none;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  align-content: center;
  align-items: center;
}
.row {
  padding-top: 1vh;
  width: 98vw;
  height: 50vh;
  align-items: center;
}
.top-row {
  padding-top: 1vh;
  width: 98vw;
  height: 5vh;
  align-items: center;
}
.row:after {
  align: center;
  display: table;
  clear: both;
}

.content {
  font-size: 30vh;
}

.button {
  font-size: 5vh;
}

.textBlue {
  text-shadow: 1vw 1vw 1vw slateblue;
  color: blue;
}

.textGreen {
  text-shadow: 1vw 1vw 1vw lightgreen;
  color: darkgreen;
}

.textRed {
  text-shadow: 1vw 1vw 1vw lightcoral;
  color: darkred;
}

.textSlate {
  text-shadow: 1vw 1vw 1vw slategray;
  color: teal;
}

.textBrown {
  text-shadow: 1vw 1vw 1vw hotpink;
  color: indigo;
}

.textMaroon {
  text-shadow: 1vw 1vw 1vw goldenrod;
  color: maroon;
}

@media screen and (max-width: 99vw) {
  .column {
    width: 100vw;
  }
}

.scene {
  width: 100vw;
  height: 50vh;
  border: 1px solid #ccc;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100vw;
  height: 50vh;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100vw;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
  background: aliceblue;
}

.card__face--back {
  background: beige;
  transform: rotateY(180deg);
}
