.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    line-height: 70px; /* Vertically center the text there */
    background-color: #faf5f5;
    font-size: 20px;
    margin: auto;
  }

  .scroller {
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
  }

  .fixed-container {
    position: relative
  }